.logoDiv {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.logoImg {
  margin-left: 1vw;
}

.userInfo-and-profilePic {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  color: white;
}

.userInfo {
  display: flex;
  justify-content: center;
  padding: 0.5vw;
  color: white;
}

.username {
  display: flex;
  height: 3vh;
  align-items: center;
  cursor: pointer;
}

.profilePic {
  padding: 0vh 1vw;
}

.logout {
  color: white;
}

.memo-icon {
  padding: 0.5vw;
}
.memos {
  padding-right: 3vw;
}