/* * {
  border: solid 1px red;
} */
/*Section 1*/
.landInfo1 {
  display: flex;
  height: 600px;
}
.head1 {
  padding-bottom: 10px;
  font-size: 2.7rem;
  font-weight: 700;
  color: #003d71;
}
.left1 {
  width: 50%;
  padding: 130px 5% 0 5%;
}
.right1 {
  width: 50%;
}
.text1 {
  font-size: 1.125rem;
  font-weight: 400;
}
.img1 {
  width: 750px;
  height: 440px;
  margin-top: 80px;
}

/*Section 2*/
.landInfo2 {
  display: flex;
  height: 600px;
  padding-top: 5%;
}
.head2 {
  font-size: 2.6rem;
  font-weight: 700;
  padding: 10% 0 0 5%;
}
.subHead2 {
  font-size: 2.6rem;
  font-weight: 700;
}
.left2 {
  width: 50%;
  padding: 0 10% 0 5%;
}
.right2 {
  width: 50%;
  padding: 0 10% 0 10%;
}
.learn {
  height: 40px;
  width: 130px;
  background-color: white;
  border: 1px solid #003d71;
  color: #003d71;
  border-radius: 5px;
}
.learn2 {
  height: 40px;
  width: 130px;
  background-color: white;
  border: 1px solid #003d71;
  color: #003d71;
  border-radius: 5px;
  margin-top: 274px;
}

/*Section 3*/
.landInfo3 {
  display: flex;
  height: 600px;
  padding-top: 17%;
}
.subHead3 {
  font-size: 2.2rem;
  font-weight: 700;
}
.img3 {
  width: 750px;
  height: 440px;
}
.left3 {
  width: 50%;
  padding: 0 10% 0 5%;
}
.right3 {
  width: 50%;
  padding: 130px 5% 0 5%;
}
.img3 {
  width: 750px;
  height: 440px;
}

/*Section 4*/
.landInfo4 {
  display: flex;
  height: 600px;
  padding: 27% 0 50% 0;
}
.subHead4 {
  font-size: 2.2rem;
  font-weight: 700;
}
.left4 {
  width: 50%;
  padding-left: 5%;
  padding-right: 10%;
  padding: 150px 5% 0 5%;
}
.right4 {
  padding: 0 10% 0 5%;
  width: 50%;
}
.img4 {
  width: 750px;
  height: 440px;
}
