* {
  border: solid 1px red;
}
.header {
  display: flex;
}
.headerLinks {
  padding-left: 15%;
}
.loginLinks {
  padding-left: 50%;
}
.links {
  padding: 10px;
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: white;

  position: absolute;
  width: 87px;
  height: 40px;
  left: 1361px;
  top: 10px;

  /* Primary/6 */

  background: #1890ff;
  /* Primary/6 */

  border: 1px solid #1890ff;
  box-sizing: border-box;
  /* drop-shadow / button-primary */

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
}
.login {
  position: static;
  width: 44px;
  height: 24px;
  left: 21.5px;
  top: 8px;

  /* H5/regular */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Character/Title .85 */

  color: rgba(0, 0, 0, 0.85);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.landInfo1 {
  display: flex;
  height: 600px;
}
.head1 {
  padding-bottom: 10px;
  font-size: 2.7rem;
  font-weight: 700;
  color: #003d71;
}
.left1 {
  width: 50%;
  padding-left: 5%;
  padding-top: 139px;
  padding-right: 10%;
}
.right1 {
  width: 50%;
}
.text1 {
  font-size: 1.125rem;
  font-weight: 400;
}
