/*Section 1*/
.landInfo1 {
  display: flex;
  height: 550px;
}
.head1 {
  padding-bottom: 10px;
  font-size: 2.7rem;
  font-weight: 700;
  color: #003d71;
}
.left1 {
  width: 50%;
  padding: 5% 5% 0 5%;
}
.right1 {
  width: 50%;
}
.text1 {
  font-size: 1.125rem;
  font-weight: 400;
}
.img1 {
  width: 90%;
  height: auto;
  padding: 0 5% 0 5%;
  margin-top: 80px;
}

/*Section 2*/
.landInfo2 {
  background-color: #e5f1f1;
  display: flex;
  height: 600px;
  flex-wrap: wrap;
}
.head2 {
  background: #e5f1f1;
  font-size: 2.6rem;
  font-weight: 700;
  padding: 5% 0 5% 5%;
  margin-bottom: 0;
}
.subHead2 {
  font-size: 2.6rem;
  font-weight: 700;
}
.left2 {
  background-color: #e5f1f1;
  width: 50%;
  padding: 0 5% 0 5%;
}
.right2 {
  background-color: #e5f1f1;
  width: 50%;
  padding: 0 5% 0 5%;
}
.learn {
  height: 40px;
  width: 130px;
  background-color: white;
  border: 1px solid #003d71;
  color: #003d71;
  border-radius: 5px;
}
.learn2 {
  height: 40px;
  width: 130px;
  background-color: white;
  border: 1px solid #003d71;
  color: #003d71;
  border-radius: 5px;
}
.buttons2 {
  padding: 2% 0 5% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #e5f1f1;
}

/*Section 3*/
.landInfo3 {
  display: flex;
  height: 600px;
  padding-top: 17%;
  margin-bottom: 5%;
}
.subHead3 {
  font-size: 2.2rem;
  font-weight: 700;
}
.left3 {
  width: 50%;
}
.right3 {
  width: 50%;
  padding: 2% 5% 0 5%;
}
.img3 {
  width: 90%;
  height: auto;
  padding: 0 5% 0 5%;
}

/*Section 4*/
.landInfo4 {
  background-color: #e5f1f1;
  display: flex;
  height: 550px;
  padding: 5% 0 5% 0;
}
.subHead4 {
  font-size: 2.2rem;
  font-weight: 700;
}
.left4 {
  width: 50%;
  padding-left: 5%;
  padding-right: 10%;
  padding: 5% 5% 0 5%;
}
.right4 {
  width: 50%;
}
.img4 {
  width: 90%;
  height: auto;
  padding: 0 5% 0 5%;
}

/*Social Section*/
.subHeadSocial {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 5% 0 0% 0;
  text-align: center;
}
.iconRow {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  margin: 0 auto;
  padding-bottom: 10%;
}

@media screen and (max-width: 320px) {
  .landInfo1,
  .landInfo2,
  .landInfo3,
  .landInfo4 {
    display: flex;
    flex-direction: column;
  }
  .img1,
  .img3,
  .img4 {
    width: 80%;
    margin: 20px 10% 0 10%;
    height: auto;
  }
  .left1,
  .right1 {
    width: 100%;
  }
  .left2,
  .right2 {
    width: 100%;
  }
  .left3,
  .right3 {
    width: 100%;
  }
  .left4,
  .right4 {
    width: 100%;
  }
  .landInfo1 {
    display: flex;
    height: 800px;
  }
  .head1 {
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #003d71;
    text-align: center;
  }
  .left1 {
    padding: 0 10% 0 10%;
  }
  .text1 {
    font-size: 1rem;
    font-weight: 400;
  }
  .landInfo2 {
    display: flex;
    height: 600px;
    padding-top: 0;
  }
  .head2 {
    font-size: 2.6rem;
    font-weight: 700;
    padding: 0 0 0 10%;
  }
  .subHead2 {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .left2 {
    padding: 60px 10% 100px 10%;
  }
  .subHead2 {
    font-size: 2.1rem;
  }
  .right2 {
    padding: 0 10% 0 10%;
  }
  .learn {
    height: 40px;
    width: 130px;
    background-color: white;
    border: 1px solid #003d71;
    color: #003d71;
    border-radius: 5px;
    margin-top: 0px;
  }
  .learn2 {
    height: 40px;
    width: 130px;
    background-color: white;
    border: 1px solid #003d71;
    color: #003d71;
    border-radius: 5px;
    margin-top: 0px;
  }
  .landInfo3 {
    display: flex;
    height: 600px;
    padding-top: 1000px;
  }
  .subHead3 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .left3 {
    padding: 100px 0 0 0;
  }
  .right3 {
    padding: 0 10% 0 10%;
  }
  .landInfo4 {
    display: flex;
    height: 600px;
    padding-top: 700px;
    padding: 700 0 0 0;
  }
  .subHead4 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .left4 {
    padding: 100px 10% 0 10%;
  }
  .right4 {
    padding: 0 0 100px 0;
  }
}
@media screen and (max-width: 414px) {
  .landInfo1,
  .landInfo2,
  .landInfo3,
  .landInfo4 {
    display: flex;
    flex-direction: column;
  }
  .img1,
  .img3,
  .img4 {
    width: 80%;
    margin: 20px 10% 0 10%;
    height: auto;
  }
  .left1,
  .right1 {
    width: 100%;
  }
  .left2,
  .right2 {
    width: 100%;
  }
  .left3,
  .right3 {
    width: 100%;
  }
  .left4,
  .right4 {
    width: 100%;
  }
  .landInfo1 {
    display: flex;
    height: 800px;
  }
  .head1 {
    padding: 50px 0 10px 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: #003d71;
    text-align: center;
  }
  .left1 {
    padding: 0 10% 0 10%;
  }
  .text1 {
    font-size: 1rem;
    font-weight: 400;
  }
  .landInfo2 {
    display: flex;
    height: 600px;
    padding-top: 0;
  }
  .head2 {
    font-size: 2.6rem;
    font-weight: 700;
    padding: 0 0 0 10%;
  }
  .subHead2 {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .left2 {
    padding: 60px 10% 100px 10%;
  }
  .subHead2 {
    font-size: 2.1rem;
  }
  .right2 {
    padding: 0 10% 0 10%;
  }
  .learn {
    height: 40px;
    width: 130px;
    background-color: white;
    border: 1px solid #003d71;
    color: #003d71;
    border-radius: 5px;
    margin-top: 0px;
  }
  .learn2 {
    height: 40px;
    width: 130px;
    background-color: white;
    border: 1px solid #003d71;
    color: #003d71;
    border-radius: 5px;
    margin-top: 0px;
  }
  .landInfo3 {
    display: flex;
    height: 600px;
    padding-top: 800px;
  }
  .subHead3 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .left3 {
    padding: 100px 0 0 0;
  }
  .right3 {
    padding: 0 10% 0 10%;
  }
  .landInfo4 {
    display: flex;
    height: 600px;
    padding-top: 600px;
    padding: 700 0 0 0;
  }
  .subHead4 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .left4 {
    padding: 100px 10% 0 10%;
  }
  .right4 {
    padding: 0 0 100px 0;
  }
}
