.row {
  display: flex;
  flex-direction: column;
}

.ant-space-align-center {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.col1,
.col2 {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
  padding: 3vh;
}

.ant-space-item {
  justify-content: flex-start;
}

.card1,
.card2 {
  display: flex;
  align-items: center;
  width: 80vw;
}

.card-img {
  max-height: 70vh;
  max-width: 100vw;
}

.title {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.description {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.ant-btn.ant-btn-primary.ant-btn-block.button {
  background-color: #003d71;
}

@media only screen and (min-width: 1440px) {
  .card1,
  .card2 {
    max-width: 100%;
  }

  .card-img {
    padding: 25px;
  }

  .description {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .card1,
  .card2 {
    max-width: 100%;
  }

  .card-img {
    padding-left: 30px;
  }

  .description {
    font-size: 1.6rem;
  }

  .col1,
  .col2 {
    display: flex;
    align-content: space-between;
  }
}

@media only screen and (max-width: 880px) {
  .col1,
  .col2 {
    display: flex;
  }

  .card1,
  .card2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card-img {
    max-width: 100%;
    align-self: center;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 679px) {
  .card-img {
    padding-top: 0%;
  }
}

@media only screen and (max-width: 554px) {
  .card1,
  .card2 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }
}

@media only screen and (max-width: 428px) {
  .description {
    font-size: 1.1rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
