.logo {
    float: left;
    width: 200px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: white;
   
  }
  .theme{
      background-color:#003D71 ;
  }
  .siderTheme {
      background-color:white;
  } 
  .header {
      background-color: #003D71;
  }
  
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
    height: 100%;
    font-size: large;
  }