.row {
  display: flex;
  flex-direction: column;
}

.col1,
.col2 {
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: .5%;
  padding: 3vh;
}

.card1,
.card2 {
  display: flex;
  width: 80vw;
}

.card-img {
  max-height: 500px;
  max-width: 90%;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.description {
  font-size: 22px;
}

.divider {
  margin: 4em;
}


.ant-btn.ant-btn-primary.ant-btn-block.button {

    background-color: #003d71;
}

@media only screen and (max-width: 880px) {
  .col1,
  .col2 {
    display: flex;
    
  }

  .card1,
  .card2 {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
  }

  .card-img {
    width: 100%;
  }

  .divider {
    margin: 2.5em;
  }
}

@media only screen and (max-width: 554px) {
  .title {
    font-size: 13px;
    font-weight: bolder;
  }
  .card1,
  .card2 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }

  .description {
    font-size: 10px;
  }

  .divider {
    margin: 1em;
  }
}
