.ant-checkbox-wrapper {
  width: 20%;
}
.ant-table-column-title {
  padding-left: 10%;
  padding-top: 3%;
}
.anticon-filter {
  padding-right: 50%;
  padding-top: 20%;
}
.anticon-search-main {
  padding-right: 50%;
  padding-top: 20%;
}
.ant-table-filter-dropdown {
  display: flex;
  flex-direction: column;
}
.search-container {
  padding: 4%;
  display: flex;
  flex-direction: column;
}
.search-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 0;
}

[title="Resource"] {
  color: black !important;
}

[title="Category"] {
  color: black !important;
}
[title="Pertains to"] {
  color: black !important;
}
[title="Message"] {
  color: black !important;
}

