.ant-checkbox-wrapper {
  width: 20%;
}
.ant-table-column-title {
  padding-left: 10%;
  padding-top: 3%;
}
.anticon-filter {
  padding-right: 50%;
  padding-top: 20%;
}
.anticon-search-main {
  padding-right: 50%;
  padding-top: 20%;
}
.ant-table-filter-dropdown {
  display: flex;
  flex-direction: column;
}
.search-container {
  padding: 4%;
  display: flex;
  flex-direction: column;
}
.search-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 0;
}

.ant-form-item-label label {
  font-size: 16px;
}

/* RESOURCE FORM */

/* resource/add mentor review form headers */
.ant-card .ant-card-head {
  background: #003d71;
}
/* resource header options */
.ant-tabs-tab-btn {
  color: rgb(255, 255, 255, 0.85) !important;
}
/* resource header bar */
.ant-tabs-ink-bar-animated {
  background: rgb(255, 255, 255, 0.85) !important;
  position: relative;
  top: 45px;
}
/* resource form titles */
.ant-form-horizontal .ant-form-item label {
  display: flex;
  background: #0000;
}
/* review and resource submit button */
.ant-form-item-control-input-content button {
  background: #003d71;
  color: rgb(255, 255, 255, 0.85);
  border: 1px solid #1990ff;
}
/* review and resource submit button on hover */
.ant-form-item-control-input-content button:hover {
  background: #1990ff;
  color: rgb(255, 255, 255, 0.85);
}

/* add mentor review form */
.ant-col.ant-col-8.ant-form-item-label > label {
  background: #0000;
}
