#darkmode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* This switch style, which does not appear to be in use, was overriding
styling in the navbar. It is left here in case styling does need to use this
class, in which case a fix can be made. */
/* .ant-switch-checked {
  background-color: #BFBFBF !important;
} */

.hidden {
  display: none;
}

.site-layout .site-layout-background {
  height: 5%;
  margin-top: 20%;
  display: flex;
  padding-top: 1%;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0 5px 5px 0;
  width: 2% !important;
  flex: 0 !important;
  max-width: auto !important;
  min-width: auto !important;
}

