.modalStyle .ant-btn-primary /*For Edit Profile Button*/{
    background-color: #003D71;
}

.modalStyle .ant-modal-header /*For Edit Profile Button*/{
    background-color:#003D71;
}

.modalStyle .ant-modal-title /*For Edit Profile Button*/{
    color: white;
}
.modalStyle p{
    margin:0%;
}
.modalStyle ul{
    margin:0%;
    padding-left: 0%;
}
.modalStyle li{
    margin-left: 5%;
}
.cEQGvI /*Navbar background color*/ {
    background-color:#003D71;
}

a.sc-dkPtRN /*Navlinks  color*/{
    color: #fff;
}

a.sc-dkPtRN:hover /*Login/Sign up buttons color*/ {
    color: black;
}

a.sc-gKclnd.cxVpss /*Login/Sign up Button background color*/{
    background-color: #003d71
}

div.ant-card-head  {
    color: #003D71;
}
.notesField{
    display: flex;
    flex-direction: column;
}

div.row2 .modalBtn {
    min-width: 45%;
}

div.row2 .modalBtn:hover {
    color: #165996;
}

div.row2 .modalBtn:visited {
    color: black;
}
