.modalStyle .ant-btn-primary /*For Edit Profile Button*/ {
  background-color: #003d71;
}
.modalStyle .ant-modal-header /*For Edit Profile Button*/ {
  background-color: #003d71;
}
.modalStyle .ant-modal-title /*For Edit Profile Button*/ {
  color: rgb(255, 255, 255, 0.85);
}
.profileContainer {
  padding: 5%;
  padding-top: 0;
}
.ant-modal-content .ant-modal-header {
  background-color: #003d71;
}
.modalStyle p {
  margin: 0%;
}
.modalStyle ul {
  margin: 0%;
  padding-left: 0%;
}
.modalStyle li {
  margin-left: 5%;
}
.cEQGvI /*Navbar background color*/ {
  background-color: #003d71;
}
a.sc-dkPtRN /*Navlinks  color*/ {
  color: #fff;
}
a.sc-dkPtRN:hover /*Login/Apply buttons color*/ {
  color: black;
}
a.sc-gKclnd.cxVpss /*Login/Apply Button background color*/ {
  background-color: #003d71;
}
div.ant-card-head {
  color: #4285f3;
}
.notesField {
  display: flex;
  flex-direction: column;
}
div.row2 .modalBtn {
  min-width: 45%;
}
div.row2 .modalBtn:hover {
  color: #165996;
}
div.row2 .modalBtn:visited {
  color: black;
}
/* memos submit button */
.memos-button-rows .ant-btn-primary {
  background-color: #003d71;
}
.ant-modal-title {
  color: rgb(255, 255, 255, 0.85) !important;
}
.ant-modal-close-x {
  color: rgb(255, 255, 255, 0.85);
}
.ant-modal-body {
  overflow-x: auto;
}
.UserModal .ant-modal-header {
  background-color: #fff;
}
.UserModal .ant-modal-title {
  color: #000 !important;
}
.UserModal .UserTable {
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.UserModal {
  width: 80%;
  height: auto;
}
.UserModal .UserTable .customCol {
  width: 100%;
  display: flex;
  align-items: normal;
}
.nameLink:hover {
  cursor: pointer;
  color: black;
}
.MatchingModal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.MatchSuggestMatch {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.FieldTitle {
  width: 40%;
  padding: 20px 20px;
  background-color: #eeeeee54;
  border: 1px solid #f2f4f5;
}
.FieldValue .userTag {
  margin-left: 20px;
}
.FieldValue span {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.addMentorContainer {
}
.addMentorContainer .ant-btn-primary {
  background-color: #1e6eb1;
}
.FieldValue {
  border: 1px solid #f2f4f5;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 20px 20px !important;
  margin-bottom: 0px !important;
}
.MenteeTable {
  padding: inherit 0;
}
.MentorTable {
  background-color: #f2f4f5;
}
.MentorTable .FieldTitle {
  background-color: #fafafa;
}
.MentorTable .FieldValue {
  background-color: #ffffff;
}
.FieldValue p {
  display: center;
}
.ant-table-wrapper {
  overflow: auto;
}
.header-api {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.MatchSuggestMatch {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.Matches {
  width: 45%;
  height: auto;
  padding: 1rem;
  margin: 0 0 0;
}
.matchLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Suggestions {
  width: 55%;
  height: auto;
  padding: 1rem;
}
.suggestLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 620px) {
  .UserTable {
    border: 1px solid black;
    padding: 0px !important;
  }
  .UserTable .customCol {
    flex-direction: column;
  }
  .UserTable .FieldTitle {
    width: 100%;
  }
}
