.modalStyle .ant-btn-primary {
    background-color: rgb(0, 61, 113);
}

.modalStyle .ant-modal-header {
    background-color:rgb(0, 61, 113);

}

.modalStyle .ant-modal-title {
    color: white;
}

.cEQGvI {
    background-color:#003d71;
    

}

a.sc-dkPtRN {
    color: #fff;
}

a.sc-dkPtRN:hover {
    color: black;
}

a.sc-gKclnd.cxVpss{
    background-color: #003d71
}
