.application {
  padding: 10vh 14vw;
}
h1 {
  border-bottom: solid 1px rgba(128, 128, 128, 0.342);
  background-color: #001529;
}

.signUpForm {
  border-radius: 4px;
  background-color: #e9e9e93a;
  overflow: hidden;
  text-align: center;
  padding-bottom: 2.5vh;
  border: solid 1px rgba(128, 128, 128, 0.342);
}
.name {
  display: flex;
  justify-content: space-between;
}
#name {
  width: 60vw;
}

.email {
  display: flex;
  justify-content: space-between;
}

#email {
  width: 60vw;
}

.location {
  display: flex;
  justify-content: space-between;
}

#location {
  width: 60vw;
}

.questions {
  padding: 1vh 1vw;
  text-align: start;
}

.ant-btn {
  width: 20vw;
  color: white;
  background-color: #001529;
}

.ant-radio-group {
  display: flex;
  justify-content: start;
  width: fit-content;
}

.ant-radio-wrapper {
  display: flex;
  justify-content: center;
}
