.application {
  padding: 10vh 15vw;
}

h1 {
  border-bottom: solid 1px rgba(128, 128, 128, 0.342);
  background-color:#003D71;
  text-align: center;
  padding-left: 3vw;
}

h3 {
  font-style: italic;
  color:#003D71;

}

.signUpForm {
  border-radius: 4px;
  background-color: #e9e9e93a;
  overflow: hidden;
  text-align: center;
  padding-bottom: 2.5vh;
  border: solid 1px rgba(128, 128, 128, 0.342);
}


 #email, #location, 
#list_convictions, #tech_stack, 
#experience_level, #your_hope, 
#other_info, #current_comp, 
#how_commit {
  width: 35vw;
  display: flex;
  justify-content: left;
}
.fullName{
  display:flex;
  justify-content: space-between;
}
.firstName{
  display:flex;
  flex-direction: row;
}
.titleContainer{
  width:15vw;
}

.lastName{
  display:flex;
  flex-direction: row;
}


.questions {
  padding: 1vh 4vw;
  text-align: start;
}

#button {
  width: 20vw;
  color: white;
  background-color:#003D71;

}

.ant-radio-group {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.radio-space {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.ant-radio-wrapper {
  display: flex;
  justify-content: center;
}

.lives_in_us, .formerly_incarcerated {
  display: flex;
  padding: 1vh;
}

.can_commit {
  padding-bottom: 3vh;
}
.can_commit h3 {
  padding-bottom: 1vh;
  margin-right: 7em;
}

.list_convictions, .tech_stack, 
.experience_level, .your_hope, 
.other_info, .current_comp, .name, 
.can_commit, .how_commit,
.location, .email, 
.lives_in_us, .formerly_incarcerated {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}

div.ant-col.ant-col-8.ant-form-item-label {
  margin-right: -13px;
  font-style: italic;
  color:#003D71;
  font-size:  1.17em;

}
.ant-form-item-label > label{
  font-size: 1.17em;
  color:#003D71;
}



@media only screen and (max-width: 1200px) {
  #mentorapplication {
    padding: 10vh 8vw;
  }
 
}

@media only screen and (max-width: 1000px) {
    .list_convictions, .tech_stack, 
    .experience_level, .your_hope, 
    .other_info, .current_comp, .name, 
    .can_commit, .how_commit,
    .location, .email, 
    .lives_in_us, .formerly_incarcerated {
    display: flex;
    flex-direction: column;
  }
    #name, #email, #location, 
    #list_convictions, #tech_stack, 
    #experience_level, #your_hope, 
    #other_info, #current_comp, 
    #how_commit {
      width: 100%;
      display: flex;
  }

  .can_commit h3 {
    padding-bottom: 1vh;
    width: 100%;
  }

   .mentor-radio-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .radio-space {
    display: flex;
    width: 100%;
    align-items: baseline;
  } 
}

@media only screen and (max-width: 600px) {
  .application {
    padding: 0;
  }

  #mentorapplication {
    padding: 0;
  }
}