.menteeApplication {
  padding: 2vh 6vw;
  justify-content: center;
}

.applicationForm {
  border-radius: 4px;

}

.menteeTitle {

  background-color: #003d71;
  text-align: center;
  color: #fff !important;
  padding: 1vh;
}

#form-container{
  margin: 2rem;
  width: 75%;
  border: 1px #002f5d solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 13px;
}

.locationUS {
  display: flex;
  flex-direction: column;
}

#menteeSubmitButton {
  background-color: #003d71;
  color: #fff;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 575px) {
  .menteeApplication {
    padding: 0;
  }
  .ant-form-large .ant-form-item-label > label {
    height: 80px;
}
}

::placeholder {

}

.menteeCriteria,
.menteeHope,
.menteeSubject,
.menteeConvictions{
  display: flex !important;
  justify-content: center;
  flex-direction: column !important;
}
