.menteeApplication {
  padding: 2vh 6vw;
  justify-content: center;
}

.applicationForm {
  border-radius: 4px;

}

.menteeTitle {

  background-color: #003d71;
  text-align: center;
  color: #fff !important;
  padding: 1vh;
}

.locationUS {
  display: flex;
  flex-direction: column;
}

#menteeSubmitButton {
  background-color: #003d71;
  color: #fff;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 600px) {
  .menteeApplication {
    padding: 0;
  }
}

::placeholder {

}

.menteeCriteria,
.menteeHope,
.menteeSubject,
.menteeConvictions{
  display: flex !important;
  justify-content: center;
  flex-direction: column !important;
}
