.tooltip {
  position: relative;
  display: inline-block;
  color: darkgrey;
  /* font-size: 14px; */
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 20vw;
  background-color: black;
  color: #fff;
  text-align: center;
  /*padding: 5px 0;*/
  padding: 2vh 1vw 2vh 1vw;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 120%;
  font-size: 14px;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
