.menteeApplication{
    padding:2vh 6vw;
    justify-content: center;
  }
  .applicationForm{
    border-radius:'4px';
    border:solid 1px rgba(128, 128, 128, 0.342)
  }
  .menteeTitle{
    border-bottom:solid 1px rgba(128, 128, 128, 0.342); 
    background-color:#003D71;
    text-align:center;
    color:#FFF !important;
    padding:1vh;
  }

  .locationUS {
      display: flex;
      flex-direction: column;
  }

  #menteeSubmitButton{
    background-color: #003D71;
    color: #FFF;
    margin-bottom: 2vh;
  }
  
  @media only screen and (max-width: 600px) {
    .menteeApplication {
      padding: 0;
    }
  }