.container {
  display: flex;
  justify-content: center;
}

.mentorTitle {
  background-color: #003d71;
  color: #ffffff !important;
  text-align: center;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 2rem;
}

.col-container {
  padding: 2rem;
}
.em {
  display: flex;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .mentorApplication {
    padding: 0;
  }
}
