.container {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}
#mentorSubmitButton {
  background-color: #003d71;
  color: #fff;
  margin-bottom: 2vh;
}
.mentorTitle {
  background-color: #003d71;
  color: #ffffff !important;
  text-align: center;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 2rem;
}

.col-container {
  padding: 2rem;
}
.em {
  display: flex;
  width: 50%;
}

.main-col-container {
  padding: 2rem;
}
.row-container {
  display: flex;
  gap: 2rem;
}
.em {
  display: flex;
  width: 50%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 600px) {
  .main-col-container {
    padding: 1rem;
  }
}
