.user-buttons {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    width: 18rem;
    justify-content: space-around;
    padding: 2rem;
    padding-top: 3rem;
}

.calendar{
    text-align: center;
}