.ant-radio-inner::after {
  margin-top: 0px;
  margin-left: 0px;
}

.notes-column-container {
  display: flex;
  flex-direction: column;
}

.notes-input-rows {
  display: flex;
  justify-content: space-between;
}

.notes-button-rows {
  display: flex;
  gap: 1em;
}

.margin-top-1 {
  margin-top: 1%;
}
