.modalStyleMentee .ant-btn-primary {
  background-color: #003d71;
}

.modalStyleMentee .ant-modal-header {
  background-color: #7cb305;
}

.modalStyleMentee .ant-modal-title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.modalStyleMentor .ant-btn-primary {
  background-color: #003d71;
}

.modalStyleMentor .ant-modal-header {
  background-color: #2f54eb;
}

.modalStyleMentor .ant-modal-title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.modalStyleMentee .profile-info {
  display: flex;
  justify-content: space-between;
}

.image-container {
  padding-left: 30px;
  margin-bottom: 5px;
}

img {
  border-radius: 200px;
  width: 80px;
}

.profile-intro {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
}

.profile-intro-description {
  margin-right: 6rem;
  padding-left: 40px;
}

.preferences {
  display: flex;
}

.tags-container {
  margin-left: 5px;
}

.mentee-tag {
  margin-left: 5px;
}

.mentor-tag {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.list-item {
  display: flex;
  justify-content: center;
}

.list-item-column {
  display: flex;
  width: 50%;
  height: 100%;
  margin-top: 10px;
}

.modalStyleMentee p, .modalStyleMentor p {
  margin: 0%;
}
.modalStyleMentee ul, .modalStyleMentor ul {
  margin: 0%;
  padding-left: 0%;
}
.modalStyleMentee li, .modalStyleMentor li {
  margin-left: 5%;
}
