.ant-checkbox-wrapper {
  width: 20%;
}
.ant-table-column-title {
  padding-left: 10%;
  padding-top: 3%;
}
.anticon-filter {
  padding-right: 50%;
  padding-top: 20%;
}
.note-button-color {
  background: #00bd68;
  border: none;
  color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

#menteeModel p {
 padding: 0%;
 color: darkgreen;
}

.modalStyle .close {
  color: white;
}
