.ant-checkbox-wrapper {
  width: 20%;
}
.ant-table-column-title {
  padding-left: 10%;
  padding-top: 3%;
}
.anticon-filter {
  padding-right: 50%;
  padding-top: 20%;
}
.note-button-color {
  background: #003D71;
  border: none;
  color: white;
  padding: 0.5rem;
#menteeModel p {
 padding: 0%;
 color: darkgreen;
}